.si-audio-player {
  display: inline-flex;
  flex-direction: row;
  width: 70%;
  align-items: center;
  height: 100%;
  gap: 25px;
  position: relative;
}

.si-audio-player-overlay {
  position: absolute;
  right: 0;
  background-color: transparent;
  top: 0px;
  left: 0px;
  z-index: 2;
  bottom: 0;
}

.si-audio-player-btn {
  cursor: pointer;
  margin-top: 6px;
}

.si-audio-player-loader {
  margin-top: 6px;
}

.si-audio-control {
  display: flex;
}

.si-audio-seekbar-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-grow: 1;
  align-items: center;
}

.si-audio-seekbar-container {
  flex-grow: 1;
}

.si-audio-volume-control {
  padding-top: 4px;
  cursor: pointer;
  position: relative;
}

.si-audio-volume-bar {
  position: absolute;
  padding: 8px 0;
  text-align: center;
  border-radius: 10px;
  left: -12px;
  bottom: 39px;
}
.si-audio-volume-bar-dark {
  background-color: #3a3a3a;
  box-shadow: #1e1e1e 0px 0px 10px;
  border: 1px solid #505050;
}

.si-audio-volume-bar-light {
  background-color: #dbdbdb;
  box-shadow: #8b8b8b 0px 0px 10px;
  border: 1px solid #ebebeb;
}

.si-audio-track-info-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.si-audio-track-info {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.si-audio-track-title {
  font-size: 17px;
}

.si-audio-track-meta {
  font-size: 14px;
}


