<div class="si-setting-section">


  <!-- panel body -->
  <div class="si-setting-content">

    <div class="si-setting-row">
      <span class="si-theme-text"
        [ngClass]="themeService.text">Theme <i>({{ themeService.isDark ? 'Dark' : 'Light'}})</i></span>
      <span class="si-theme-toggle">
        <mat-slide-toggle
          color="accent"
          [checked]="themeService.isDark"
          (toggleChange)="themeService.toggle(this)"></mat-slide-toggle>
      </span>
    </div>

  </div>
</div>
