
<!-- main container -->
<div class="si-section" *ngIf="!isMobileDevice()">

  <!-- left sidebar -->
  <div class="si-sidebar si-left-sidebar no-select"
       [class.si-sidebar-dark]="themeService.isDark"
       [class.si-sidebar-light]="!themeService.isDark">
    <!-- app logo -->
    <si-logo></si-logo>

    <!-- app navigation -->
    <si-nav></si-nav>

    <!-- android app badge -->
    <si-android-app-badge></si-android-app-badge>

    <!-- divider -->
    <si-divider></si-divider>

    <!-- theme settings -->
    <si-settings></si-settings>
  </div>

  <!-- top section for navigation, main content and widgets -->
  <div class="si-main-section">

    <!-- main container where all the components will be rendered-->
    <div class="si-container"
      [class.si-container-dark]="themeService.isDark"
      [class.si-container-light]="!themeService.isDark">

      <router-outlet></router-outlet>

    </div>


    <!-- footer where player controls will be renders -->
    <div
      class="si-footer no-select"
      [class.si-footer-dark]="themeService.isDark"
      [class.si-footer-light]="!themeService.isDark"
      *ngIf="trackService.activeTrack" >

      <si-audio-player></si-audio-player>

    </div>

  </div>

  <!-- right sidebar where all widgets will be rendered -->
  <div class="si-sidebar si-right-sidebar no-select"
       [class.si-sidebar-dark]="themeService.isDark"
       [class.si-sidebar-light]="!themeService.isDark">

    <!-- hijri date widget -->
    <si-hijri-date-widget></si-hijri-date-widget>

  </div>

</div>

<div class="si-download-mobile-app" *ngIf="isMobileDevice()">
  <img
    src="assets/svg/logo.svg"
    width="250px"
    height="210px"
    onload="SVGInject(this)"/>
  <si-android-app-badge></si-android-app-badge>
</div>
