
.si-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: fixed;
}

.si-main-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.si-container {
  flex-grow: 1;
  padding: 20px;
  overflow: auto;
}

.si-container::-webkit-scrollbar {
  width: 2px;
}

.si-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(191, 191, 191, 0.3);
}

.si-container::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(87, 87, 87, 0.5);
}

.si-sidebar {
  min-width: 300px;
  width: 300px;
  box-sizing: border-box;
  z-index: 1;
}

.si-left-sidebar {
  border-right: 7px solid #9665ef;
  display: flex;
  flex-direction: column;
}

.si-right-sidebar {
  border-left: 7px solid #9665ef;
}

.si-footer {
  width: 100%;
  height: 70px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

si-nav {
  flex-grow: 1;
}

.si-download-mobile-app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
