
<!-- main container -->
<div class="si-section">

  <!-- left sidebar -->
  <div class="si-sidebar si-left-sidebar no-select"
       [class.si-sidebar-dark]="themeService.isDark"
       [class.si-sidebar-light]="!themeService.isDark">

    <!-- app logo -->
    <si-logo></si-logo>

    <!-- app navigation -->
    <si-nav></si-nav>

  </div>

  <!-- top section for navigation, main content and widgets -->
  <div class="si-main-section">

    <!-- main container where all the components will be rendered-->
    <div class="si-container"
      [class.si-container-dark]="themeService.isDark"
      [class.si-container-light]="!themeService.isDark"></div>


    <!-- footer where player controls will be renders -->
    <div class="si-footer no-select"
         [class.si-footer-dark]="themeService.isDark"
         [class.si-footer-light]="!themeService.isDark">



    </div>

  </div>

  <!-- right sidebar where all widgets will be rendered -->
  <div class="si-sidebar si-right-sidebar no-select"
       [class.si-sidebar-dark]="themeService.isDark"
       [class.si-sidebar-light]="!themeService.isDark">

    <!-- hijri date widget -->
    <si-hijri-date-widget></si-hijri-date-widget>

  </div>


</div>
