.si-contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.si-contact-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px
}

.si-about-info {
    text-align: center;
    width: 70%;
}

.si-about-link {
  color: #0fade9;
}