/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
  font-family: "ubuntu-regular";
  src: url(./assets/fonts/UbuntuMono-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "ubuntu-bold";
  src: url(./assets/fonts/UbuntuMono-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "ubuntu-italic";
  src: url(./assets/fonts/UbuntuMono-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "ubuntu-bold-italic";
  src: url(./assets/fonts/UbuntuMono-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "titillium-light";
  src: url(./assets/fonts/TitilliumWeb-Light.ttf) format("truetype");
}

@font-face {
  font-family: "titillium-regular";
  src: url(./assets/fonts/TitilliumWeb-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "titillium-bold";
  src: url(./assets/fonts/TitilliumWeb-Bold.ttf) format("truetype");
}


.mat-body, .mat-body-1, .mat-typography {
  font: 16px titillium-regular;
}

body {
  margin: 0 auto;
  font-family: titillium-regular;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.mat-dialog-container {
  padding: 0 !important;
  background-color: transparent;
  border-radius: 6px;
}

.mat-slider {
  width: 100%;
}

.si-dialog {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.si-panel-head {
  border-radius: 6px 6px 0px 0px;
  padding: 6px 12px;
  font-family: titillium-bold;
  display: flex;
  flex-direction: row;
}

.si-panel-heading {
  flex-grow: 1;
  font-size: 18px;
}

.si-panel-btn-close {
  width: 20px;
  cursor: pointer;
  margin-top: 3px;
  height: 20px;
}

.si-panel-body {
  border-radius: 0px 0px 6px 6px;
  padding: 8px;
  flex-grow: 1;
}


/*
<-------------- DARK THEME -------------->
*/

.si-sidebar-dark {
  background-color: #373738;
  box-shadow: #000000 0px 0px 10px;
}

.si-container-dark {
  background-color: #4e4e4e;
}

.si-footer-dark {
  background-color: #29292a;
}

.si-logo-dark g {
  fill: #d5d5d5;
}

.si-icon-dark g {
  fill: #b14d4d;
}

.si-text-dark {
  color: #dbdbdb;
}

.si-widget-heading-bg-dark {
  background-color: #544687;
}

.si-widget-content-bg-dark {
  background-color: #585858;
}

.si-panel-head-bg-dark {
  background-color: #544687;
}

.si-panel-body-bg-dark {
  background-color: #585858;
}

.si-audio-icon-dark g {
  fill: #dbdbdb;
}

.si-seekbar-dark .mat-slider-thumb {
  border-color: rgba(255, 255, 255, 0.26) !important;
  background-color: #f1f1f1 !important;
}

.si-seekbar-dark .mat-slider-track-background {
  background-color: rgba(102, 102, 102, 0.26) !important;
}

.si-seekbar-dark .mat-slider-track-fill {
  background-color: #f1f1f1 !important;
}

.si-seekbar-dark .mat-slider-thumb-label {
  background-color: transparent !important;
}

.si-seekbar-dark .mat-slider-thumb-label-text {
  color: #f1f1f1;
}

/*
<-------------- LIGHT THEME -------------->
*/

.si-sidebar-light {
  background-color: #fbfbfb;
  box-shadow: #b3b3b3 0px 0px 10px;
}

.si-container-light {
  background-color: #ebebeb;
}

.si-footer-light {
  background-color: #f7f7f7;
}

.si-logo-light g {
  fill: #363636;
}

.si-icon-light g {
  fill: #ef6565;
}

.si-text-light {
  color: #454545;
}

.si-widget-heading-bg-light {
  background-color: #baaaf1;
}

.si-widget-content-bg-light {
  background-color: #e7e7e7;
}

.si-panel-head-bg-light {
  background-color: #baaaf1;
}

.si-panel-body-bg-light {
  background-color: #e7e7e7;
}

.si-audio-icon-light g {
  fill: #525252;
}

.si-seekbar-light .mat-slider-thumb {
  border-color: rgba(0, 0, 0, 0.26) !important;
  background-color: #4c4c4c !important;
}

.si-seekbar-light .mat-slider-track-background {
  background-color: rgba(0,0,0,.26) !important;
}

.si-seekbar-light .mat-slider-track-fill {
  background-color: #4c4c4c !important;
}

.si-seekbar-light .mat-slider-thumb-label {
  background-color: transparent !important;
}

.si-seekbar-light .mat-slider-thumb-label-text {
  color: #4c4c4c;
}
