.si-nav {
  float: left;
  width: 100%;
  margin-top: 100px;
}

.si-nav > ul {
  display: inline;
}

.si-nav > ul > li {
  float: left;
  width: 100%;
  display: inline-block;
}

.si-nav > ul > li > a {
  float: left;
  margin: 12px 10px 12px 60px;
  font-size: 17px;
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}
